
@mixin bgcolor {
    background-color: #f1e6e6;
    color: rgb(0, 0, 0);
}

@mixin bgcolor2 {
    background-color: white;
}

// body.bodybg{
//     @include bgcolor
// }

header.flex{
    @include bgcolor2
}

footer.flex{
    @include bgcolor2
}

.heart{
    color: red !important;
}

.iconheart{
    color: gray;
}

a.iconheart:hover{
    color: red;
}

.bg-white{
     padding: 0% 6% !important;
}



